<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学IT - 后台管理系统</title>
    <?php include '/views/common/css.html' ?>
</head>
<body>
    <!-- 登录 -->
    <div class="login">
        <div class="login-wrap">
            <div class="avatar">
                <img src="/views/public/uploads/monkey.png" class="img-circle" alt="">
            </div>
            <form action="" class="col-md-offset-1 col-md-10" id="loginForm">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon">
                        <i class="fa fa-user"></i>
                    </span>
                    <input type="text" class="form-control" placeholder="用户名" name="tc_name" value="前端学院">
                </div>
                <div class="input-group input-group-lg">
                    <span class="input-group-addon">
                        <i class="fa fa-key"></i>
                    </span>
                    <input type="password" class="form-control" placeholder="密码" name="tc_pass" value="123456">
                </div>
                <button type="submit" class="btn btn-lg btn-primary btn-block">登 录</button>
            </form>
        </div>
    </div>
    
    <?php include '/views/common/javascript.html' ?>
</body>
</html>

<script>
    require(['login']);
    // $("#loginForm").submit(function(){
    //     var data = $(this).serializeArray();
    //     $.ajax({
    //         url : '/api/login',
    //         type : "POST",
    //         data : data,
    //         success :function(res){
    //             if(res.code == 200){
    //                 var info = JSON.stringify(res.result);
    //                 $.cookie("tc_info",info);
    //                 alert("登陆成功");
    //                 location.href = '/';
    //             }
    //         },
    //         error :function(){
    //             alert("用户名或者密码错误");
    //         }
    //     });
    //     return false;
    // });
</script>